/* style1.css */
@charset "UTF-8";
/* viewport fix for windows surface */
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

@import "need-for-scroll.css";

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
 
::-moz-selection { background: #3498db; color: #fff; text-shadow: none; }
::selection { background: #3498db; color: #fff; text-shadow: none; }

html {
  height: 100%;
  max-height:100%;
  padding:0;
  margin:0;
  border:0;
  background:#fff;
  overflow: hidden;
}

body {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
	color: #515151;
  font-size: 15px;

	position: relative;
	width: 100%;
	/*min-width: 20em;*/
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */ }

.clearfix {
  clear: both;
}

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  }
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#inner-wrap {
  position: relative;
  /*width: 100%;*/
  height: 100%;
  -webkit-perspective: 800;
  /*background-color: #1f2124; /*#35383d;*/
}

#headbar {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: #515151;
  /*margin-top: 20px;*/
  z-index: 1;
  -moz-box-shadow:    0px 0px 2px 0px #000;
  -webkit-box-shadow: 0px 0px 2px 0px #000;
  box-shadow:         0px 0px 2px 0px #000;
  overflow: hidden;
}
#logo {
  background: url(../img/pebbleplus-logo.png);
  width: 109px;
  height: 30px;
  float: left;
  margin: 0.3em 0 0 0.5em;
}
#head-content {
  color: #ECF0F1;
  float: right;
  margin: 0.7em 0.8em 0 0;
}
  #head-content p {
    margin: 0;
    padding: 0;
  }

  #head-content a {
    color: #ECF0F1;
    text-decoration: none;
    border-bottom: 1px solid #ECF0F1;
    padding: 2px 3px;
    border-radius: 2px;
    margin-left: 0.4em;
  }

/* MAIN DROPDOWN MENU*/
#main-dd-menu ul {
  display: none;
}
  #main-dd-menu li:hover > ul {
    display: block;
  }

#main-dd-menu {
  position: relative;
  background-color: #f9fafa;
  list-style-type: none;
  display: inline-table;
  padding: 0;
  margin: 0;
}
#main-dd-menu:after {
  content: ""; clear: both; display: block;
}
#main-dd-menu > li {
  float: left;
  border-right: 1px solid #BDC3C7;
}
  #main-dd-menu > li:hover {
    background-color: #999;
  }
    #main-dd-menu > li:hover a {
      color: #fff;
    }
  #main-dd-menu > li a {
    display: block;
    padding: 11px 17px;
    color: #444;
    text-decoration: none;
  }
#main-dd-menu > li ul {
  position: absolute;
  background-color: #eee;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
  #main-dd-menu > li ul li {
    border-bottom: 1px solid #bbb;
    margin: 0;
    padding: 0;
    position: relative;
  }
    #main-dd-menu > li ul li:hover {
      background-color: #ccc;
    }
    #main-dd-menu > li.add-new ul li a {
      margin: 0;
      padding: 0.5em 1em 0.5em 0.4em;
    }
    #main-dd-menu > li.design-new ul li a {
      margin: 0;
      padding: 0.5em 1em 0.5em 0.4em;
      width: 7.65em;
    }
    #main-dd-menu > li ul li a {
      margin: 0;
      padding: 0.5em 2.3em 0.5em 0.4em;
    }
      #main-dd-menu > li ul li a img {
        float: left;
        margin-right: 0.4em;
      }
      #main-dd-menu > li ul li a p {
        color: #333;
        float: left;
        margin: 0;
      }
.asset-menu-bg {
  background-image: url(../img/banners/bokeh-920.jpg);
  /*overflow: hidden;*/
  width: 100%;
  position: relative;
  z-index: 0;
}
.asset-menu {
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
  position: relative;
  display: block;
  /*background-color: #ECF0F1;*/
  border-bottom: 2px solid #ECF0F1;
  list-style-type: none;
  margin: 0;
  padding: 1em 0 1em 1.7em;
  font-size: 1em;
  font-family: 'PT Sans Narrow', sans-serif;
  height: 1.188em;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
.asset-menu-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  background: -moz-linear-gradient(top,  rgba(255,255,255,0.88) 0%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.88)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.88) 0%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0.88) 0%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0.88) 0%,rgba(255,255,255,0.2) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0.88) 0%,rgba(255,255,255,0.2) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0ffffff', endColorstr='#33ffffff',GradientType=0 ); /* IE6-9 */


}

.asset-menu li {
  float: left;
  margin-right: 7px;
  padding: 0;
}

.asset-menu li a {
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  border: 1px solid #3498DB;
  border-radius: 4px;
  padding: 3px 4px;
  color: #3498DB;
  background-color: rgb(255,255,255);
  text-decoration: none;
}
.asset-menu li a:hover, .js-option-share #option-share-btn {
  color: #fff;
  background-color: #3498DB;
}

.asset-menu li.asset-menu-delete {
  float: right;
  margin-right: 10px;
}
.asset-menu li.asset-menu-delete a {
  color: #E74C3C;
  /*background-color: #E74C3C;*/
  border: 1px solid #E74C3C;
  margin-right: 5px;
}
.asset-menu li.asset-menu-delete a:hover, .js-option-delete #btn-option-asset-delete {
  color: #fff;
  background-color: #E74C3C;
}
.asset-menu li > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.asset-menu li.more {
  float: none;
}
.asset-menu li.more > a {
  display: none;
}


.close-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: #333333 url("../img/close-btn.svg") left center no-repeat;
  background-size: 1.875em 1.875em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .close-btn {
  background-image: url("../img/close-btn.png");
}
.close-btn:focus, .close-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.assets-btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.7em;
  border-left: 1px solid #ccc;
  width: 1.25em;
  height: 1.4em;
  margin: -0.25em 0.3em 0 0.15em;
  padding: 0.2em 0 0 0.3em;
  display: block;
  outline: none;
  overflow: hidden;
}
.nav-btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.7em;
  border-right: 1px solid #ccc;
  width: 1.25em;
  height: 1.4em;
  margin: -0.25em 0.3em 0 0.15em;
  padding: 0.2em 0 0 0;
  display: block;
  outline: none;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.9;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .nav-btn {
  background-image: url("../img/nav-icon.png");
}
.nav-btn:hover, .nav-btn:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

#nav {
  z-index: 200;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #fff;
}
#nav .close-btn {
  display: none;
}
#nav .block {
  z-index: 2;
  position: relative;
  padding: 0.75em 0 0 0;
}

  #nav ul {
    text-align: left;
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }
  #nav li {
    border-bottom: 1px solid #2d2d2d;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  }
  #nav li:last-child {
    border-right: none;
  }
  #nav li a {
    text-decoration: none;
    padding: 0.8em 0.85714em 0.62857em;
  }

#nav ul:before, #nav ul:after {
  content: "";
  display: table;
}
#nav ul:after {
  clear: both;
}
#nav li {
  display: block;
}
#nav li a {
  display: block;
  color: #ccc;
  font-size: 0.875em;
  line-height: 1.28571em;
  /*font-family: 'Alef', sans-serif;*/
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  outline: none;
}
  #nav li a img {
    float: left;
  }
  #nav li a p {
    float: left;
    margin: 0.1em 0 0 0.2em;
  }
  #nav li a i {
    float: right;
  }
  #nav li a i {
    float: right;
    color: #444;
  }
#nav li a:focus, #nav li a:hover {
  color: #fff;
  background-color: #3498DB;
  -moz-box-shadow:    0 0 5px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
  box-shadow:         0 0 5px 2px rgba(0,0,0,0.3);
}
  #nav li a:focus i, #nav li a:hover i {
    display: inline;
    color: #eee;
  }
#nav li:active a {
  background-color: #2980B9;
  color: #ECF0F1;
}
#nav li.menu-section {
  font-size: 0.6em;
  background-color: #494949;
  box-shadow: 0px 1px 2px #111;
}
  #nav li.menu-section p {
    color: #b2b2b2;
    margin: 0;
    padding: 0.7em 0 0.6em 0.5em;
    /*text-shadow: 1px 1px 1px #000;*/
  }

#nav .block > ul > .menu-separator {
  background-color: #444;
  height: 1em;
  -moz-box-shadow:    0 3px 3px 0 rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.3);
  box-shadow:         0 3px 3px 0 rgba(0,0,0,0.3);
}
#nav .block > ul > .menu-section-separator {
  background-color: #444;
  height: 0.1em;
}

#top, #top-assets {
  position: relative;
  color: #fff;
  /*background: #333333;*/
}
#top .block-title {
  margin: 0;
  font-size: 1.875em;
  line-height: 1.2em;
  text-align: center;
  white-space: nowrap;
}
#top .nav-btn {
  color: #333;
  position: relative;
  float: left;
  border: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  width: 0px;
}

#top-assets .assets-btn {
  position: relative;
  float: right;
  top: 0.25em;
  left: 0.2em;
  -webkit-transition: width 500ms ease;
  -moz-transition: width 500ms ease;
  -o-transition: width 500ms ease;
  transition: width 500ms ease;
}

/*::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(100, 100, 100, 0.35);
}*/

#menu-column, #assets-column, #content-column {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 5.75em;
  font-size: 1em;
  z-index: 4;
  /*height: 100%;*/
  overflow: auto;
}

* html #menu-column, * html #assets-column, * html #content-column {
  height: 100%;
  top: 0;
  bottom: 0;
  border-top: 100px solid #fff;
  border-bottom: 50px solid #fff;
}

#menu-column {
  display: none;
  z-index: 0;
  left: 0;
  top: 0;
  width: 18%;
  min-width: 140px;
  max-width: 300px;
  background: #232323;
}

.column2move {
  display: inline-block;
  float: left;
  position: relative;
  left: 50%;


  /*width: 100%;*/
  height: 100%;
  z-index: 1;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
  .center {
    display: inline-block;
    float: left;
    position: relative;
    left: -50%;
    height: 100%;
  }

.header-top-level-wrapper {
  position: relative;
  height: 40px;
  border-bottom: 3px solid #BDC3C7;
  /*overflow: hidden;*/
  z-index: 1;
}

.header-container {
  position: relative;
  /*height: 40px;*/
  width: 100%;
  max-width: 1364px;
  background-color: #ECF0F1;
  /*border-bottom: 3px solid #BDC3C7;*/
  
  /*overflow: hidden;*/
  z-index: 2;
}

.list-ext-options {
  position: relative;
  height: 2.25em;
  background-color: #f6f8f8;
  border-bottom: 4px solid #BDC3C7;
  z-index: 1;
  -moz-box-shadow:    0px 0px 3px 1px #ccc;
  -webkit-box-shadow: 0px 0px 3px 1px #ccc;
  box-shadow:         0px 0px 3px 1px #ccc;
}
  ::-webkit-input-placeholder {
    color: #BDC3C7;
  }
  .icon-search {
    color: #BDC3C7;
  }
  .list-form {
    background-color: #fff;
    float: left;
    width: 50%;
    padding-left: 0.7em;
    border-right: 1px solid #BDC3C7;
  }
  .list-search {
    /* Remove default */
    -webkit-appearance: none;
    
    /* Now your own custom styles */
    background: none;
    /*border-radius: 4px;*/
    border: none;
    padding: 9px 2px;
    margin: 0px 0px 0px 5px;
    width: 80%;
    font-size: 0.9em;
    color: #878b8d;
    /* Will place small red box on the right of input (positioning carries over) */
  }
.list-sorting ul {
  display: none;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
  .list-sorting:hover > ul {
    display: block;
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;

  }
.list-sorting {
  position: relative;
  list-style-type: none;
  display: inline-block;
  background-color: #f6f8f9;
  border: 1px solid #BDC3C7;
  /*border-radius: 3px;*/
  margin: -0.1em 0.2em -0.1em -0.1em;
  padding: 0;
}
  .list-sorting > li {
    padding: 0.6em 0.7em 0.55em 0.4em;
    z-index: 1;
  }
    .list-sorting a {
      color: #878b8d;
      text-decoration: none;
    }
.list-sorting > ul {
  position: relative;
  list-style-type: none;
  /*display: block;*/
  margin: 0.5em 0 0.4em 0;
  padding: 0;
  z-index: 0;
}
  .list-sorting > ul li {
    /*background-color: #3498DB;*/
    margin: 0.1em 0 0 0;
  }
    .list-sorting > ul li a {
      display: block;
      padding: 0.25em 0.7em 0.3em 0.4em;
    }
  .list-sorting > ul li:hover {
    background-color: #3498DB;
  }
    .list-sorting > ul li:hover a {
      color: #fff;
    }

.header-container-removed {
  position: relative;
  background-color: #BDC3C7;
  width: 100%;
  height: 0.25em;
  z-index: 2;
}

.list-switch-menu-wrapper-open {
  float: right;
  left: 0;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
.js-panel .list-switch-menu-wrapper-open > a {
  background: rgb(198,198,198); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(198,198,198,1) 0%, rgba(183,183,183,1) 49%, rgba(194,194,194,1) 50%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,198,198,1)), color-stop(49%,rgba(183,183,183,1)), color-stop(50%,rgba(194,194,194,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(198,198,198,1) 0%,rgba(183,183,183,1) 49%,rgba(194,194,194,1) 50%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(198,198,198,1) 0%,rgba(183,183,183,1) 49%,rgba(194,194,194,1) 50%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(198,198,198,1) 0%,rgba(183,183,183,1) 49%,rgba(194,194,194,1) 50%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(198,198,198,1) 0%,rgba(183,183,183,1) 49%,rgba(194,194,194,1) 50%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
.js-panel .list-switch-menu-wrapper-open > a:hover {
  background: rgb(194,194,194); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(194,194,194,1) 0%, rgba(178,178,178,1) 49%, rgba(190,190,190,1) 50%, rgba(201,201,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(194,194,194,1)), color-stop(49%,rgba(178,178,178,1)), color-stop(50%,rgba(190,190,190,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(194,194,194,1) 0%,rgba(178,178,178,1) 49%,rgba(190,190,190,1) 50%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(194,194,194,1) 0%,rgba(178,178,178,1) 49%,rgba(190,190,190,1) 50%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(194,194,194,1) 0%,rgba(178,178,178,1) 49%,rgba(190,190,190,1) 50%,rgba(201,201,201,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(194,194,194,1) 0%,rgba(178,178,178,1) 49%,rgba(190,190,190,1) 50%,rgba(201,201,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c2c2', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */

  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
.list-menu-holder {
  float: right;
  position: relative;
  height: 38px;
  width: 166px;
}
.list-switch-menu-wrapper {
  position: absolute;
  font-size: 1.1em;
}
  .list-switch-menu-wrapper > a {
    position: absolute;
    float: left;
    color: #2f3233;
    text-decoration: none;
    display: block;
    background-color: #fff;
    border: 1px solid #BDC3C7;
    border-radius: 3px;
    margin: 0.2em;
    padding: 0.45em 1em 0.35em 0.5em;
    z-index: 1;

    background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */


    -moz-box-shadow:    3px 0px 5px -2px #ccc;
    -webkit-box-shadow: 3px 0px 5px -2px #ccc;
    box-shadow:         3px 0px 5px -2px #ccc;
  }
    .list-switch-menu-wrapper > a:hover {
      background: rgb(247,247,247); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(234,234,234,1) 50%, rgba(218,218,218,1) 51%, rgba(239,239,239,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(50%,rgba(234,234,234,1)), color-stop(51%,rgba(218,218,218,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 50%,rgba(218,218,218,1) 51%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 50%,rgba(218,218,218,1) 51%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 50%,rgba(218,218,218,1) 51%,rgba(239,239,239,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 50%,rgba(218,218,218,1) 51%,rgba(239,239,239,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */


    }
    .list-switch-menu-wrapper > a:active {
      background: rgb(214,214,214); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(202,202,202,1) 50%, rgba(189,189,189,1) 51%, rgba(207,207,207,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(50%,rgba(202,202,202,1)), color-stop(51%,rgba(189,189,189,1)), color-stop(100%,rgba(207,207,207,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(202,202,202,1) 50%,rgba(189,189,189,1) 51%,rgba(207,207,207,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(202,202,202,1) 50%,rgba(189,189,189,1) 51%,rgba(207,207,207,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(202,202,202,1) 50%,rgba(189,189,189,1) 51%,rgba(207,207,207,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(214,214,214,1) 0%,rgba(202,202,202,1) 50%,rgba(189,189,189,1) 51%,rgba(207,207,207,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */
      
      color: #fff;
    }
.list-switch-menu > ul {
  display: none;
}
.list-switch-menu:hover > ul {
  display: block;
}
.list-switch-menu {
  position: relative;
  list-style-type: none;
  display: inline-block;
  background-color: #f6f8f8;
  border: 1px solid #BDC3C7;
  border-radius: 3px;
  margin: 0.3em 0.2em 0.1em 0.2em;
  padding: 0;
  z-index: 0
}
  .list-switch-menu > li {
    padding: 0.4em 0.5em 0.2em 0.4em;
    z-index: 1;
    float: right;
    margin: 0 0 0 8em;
  }
    .list-switch-menu a {
      color: #878b8d;
      text-decoration: none;
    }
.list-switch-menu > ul {
  position: relative;
  list-style-type: none;
  /*display: block;*/
  margin: 2.4em 0 0.4em 0;
  padding: 0;
  z-index: 0;
}
  .list-switch-menu > ul li {
    /*background-color: #3498DB;*/
    margin: 0.1em 0 0 0;
  }
    .list-switch-menu > ul li a {
      display: block;
      padding: 0.25em 0.2em 0.2em 0.5em;
    }
  .list-switch-menu > ul li:hover {
    background-color: #fff;
  }
    .list-switch-menu > ul li:hover a {
      color: #2f3233;
    }





.header-container-content {
  margin: 0 0 0 0.2em;
  float: left;
  /*width: 100%;*/
  height: 100%;
}
  .header-container-content p {
    color: #fff;
    margin: 13px 0 0 0;
    padding: 0;
  }

#two-column-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.clear {
  clear: both;
}
#assets-column-wrapper {
  left: -300px;
  overflow: hidden;
  position: relative;
  float: left;
  width: 0;
  max-width: 650px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 9px -2px #222;
     -moz-box-shadow: 0px 0px 9px -2px #222;
          box-shadow: 0px 0px 9px -2px #222;
  z-index: 0;

  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}

.option-asset, .option-delete {
  position: relative;
  border-bottom: none;
  background-color: #f5f5f5;
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0 1.8em;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
  .option-asset form {
    font-size: 0.8em;
  }
    .option-asset form p {
      display: inline-block;
      width: 20px;
      margin: 0;
      padding: 0;
    }
    .option-asset form input[type=text] {
      margin: 0 0 0.5em 1em;
      padding: 0;
    }
    .option-asset form input[type=checkbox] {
      margin: 0 0.25em 0.5em 0em;
      padding: 0;
    }
  .option-asset h4, .option-delete h4 {
    font-family: 'Alef', sans-serif;
    font-weight: normal;
    margin: 0.5em 0 1em 0;
    padding: 0;
    color: #3498DB;
    border-bottom: 1px solid #3498DB;
  }
  .option-asset h5 {
    font-size: 1.2em;
    margin: 1.2em 0 0.25em 0;
    padding: 0;
    font-weight: normal;
  }
  .option-delete .yes-no a {
    float: right;
    margin-left: 0.5em;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
    border-radius: 4px;
    padding: 8px 14px;
    /*background-color: #3498DB;*/
    text-decoration: none;
  }
  .option-delete .yes-no #delete-no {
    color: #fff;
    background-color: #3498DB;
    /*border: 1px solid #3498DB;*/
  }
  .option-delete .yes-no #delete-no:hover {
    background-color: #2c87c7;
  }
  .option-delete .yes-no #delete-yes {
    color: #fff;
    background-color: #E74C3C;
  }
  .option-delete .yes-no #delete-yes:hover {
    background-color: #ce3c2c;
  }

.js-option-delete .option-delete {
  height: 80px;
  border-bottom: 4px solid #ddd;
  padding: 0.5em 1.8em;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}

.js-option-share .option-asset {
  height: 320px;
  padding: 0.5em 1.8em;
  border-bottom: 4px solid #ddd;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
.js-option-share #content-column {
  /*top: 28.65em;*/
}
.js-option-delete #content-column {
  /*top: 12.68em;*/
}

.js-panel #assets-column-wrapper {
  left: 0;
  width: 390px;

  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}

#assets-column {
  top: 0em;
  width: 100%;
  background: #f9f9f7;
  -webkit-transition: width 350ms ease;
  -moz-transition: width 350ms ease;
  -o-transition: width 350ms ease;
  transition: width 350ms ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 0;
}

#content-column-wrapper {
  position: relative;
  float: left;
  overflow: hidden;
  width: 650px;
  max-width: 820px;
  height: 100%;
  /*left: 14%;*/
  border-left:  1px solid #eee;
  border-right: 1px solid #eee;
  -webkit-box-shadow: 0px 0px 4px 0px #777;
     -moz-box-shadow: 0px 0px 4px 0px #777;
          box-shadow: 0px 0px 4px 0px #777;
  z-index: 1;
}

#content-column {
  bottom: 9em;
  width: 100%;
  background: #fff;
  -webkit-transition: width 350ms ease;
  -moz-transition: width 350ms ease;
  -o-transition: width 350ms ease;
  transition: width 350ms ease;

  -webkit-transition: left 350ms ease;
  -moz-transition: left 350ms ease;
  -o-transition: left 350ms ease;
  transition: left 350ms ease;

  -webkit-transition: top 350ms ease;
  -moz-transition: top 350ms ease;
  -o-transition: top 350ms ease;
  transition: top 350ms ease;
  
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 0;
}
.content-inner {
  display: block;
  padding: 0;
}

.content-header .edit-hover, .content-container .edit-hover {
  border: 1px solid #ddd;
}
.edit-box {
  font-family: 'Alef', sans-serif;
  font-weight: normal;
  font-size: 1.6em;
  resize: none;
  background-color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #515151;
  overflow: hidden;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  -ms-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}
.editable {

}
.form-description {
  border: 1px solid #fff;
  font-size: 0.83em;
  font-family: 'Alef', sans-serif;
  font-weight: normal;
  color: #999;
  padding: 0;
  margin: 0;
}

#loading {
  position: absolute;
  left: 44%;
  background-color: rgba(178,255,185,0.8);
  width: 70px;
  text-align: center;
  margin: 0;
  padding: 0 5px 3px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

input:focus,
textarea:focus {
  outline: none;
}
.no-pad {
  padding: 0;
  margin: 0;
}
.no-pad form {
  padding: 0;
  margin: 0;
  border: none;
}
  .no-pad .edit-box {
    padding: 0;
    margin: 0;
    width: 100%;
    color: #515151;
    border: none;
  }

.content-header {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 1em 1.5em 1em 1.5em;
}
  .content-header h3 {
    border: 1px solid #fff;
    font-family: 'Alef', sans-serif;
    font-weight: normal;
    font-size: 1.6em;
    padding: 0;
    margin: 0;
  }
  .content-header h5 {
    border: 1px solid #fff;
    font-family: 'Alef', sans-serif;
    font-weight: normal;
    color: #999;
    padding: 0;
    margin: 0;
  }
.content-container {
  color: #515151;
  padding: 0 1.5em 0.625em 1.5em;
}
  .content-container p,
  .content-container div.editable {
    border: 1px solid #fff;
    padding: 0;
    font-size: 0.95em;
    line-height: 1.5em;
  }
  
  .content-container div.editable:focus {
    outline: none;
  }

  .content-container .list-checkbox, .content-container .list-radio {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    .content-container .list-checkbox li, .content-container .list-radio li {
      float: left;
      margin: 1em;
      width: 140px;
    }

/* 
Generic Styling, for Desktops/Laptops 
*/
table.responsive-table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
table.responsive-table tr:nth-of-type(odd) { 
  background: #eee; 
}
table.responsive-table th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
table.responsive-table td, table.responsive-table th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}



.menu-inner, .assets-inner {
  display: block;
  padding: 0;
}

.recently-opened {
  background-color: #fff;
}
  .recently-opened > div:hover {
    background-color: #fcf9f9;
  }
.section-item {
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #ddd;
  min-height: 0.5em;
  margin: 0;
  z-index: 1;
}
.section-item p {
  color: #bbb;
  text-align: center;
  margin: 0;
  padding: 0;
}
.section-item-end {
  background-color: #e3e3e3;
  border: none;
}
/* assets-list.scss */
.asset-item {
  position: relative;
  padding: 0.9em 0.5em;
  border-bottom: 1px solid #ddd;
  height: 1.5em;
  margin: 0;
  z-index: 1;
}
.a-current, .asset-item:hover {
  /*border-top: 2px solid #fff;*/
  /*border-bottom: 2px solid #fff;*/
  -webkit-box-shadow:  0px 0 3px -2px #111;
     -moz-box-shadow:  0px 0 3px -2px #111;
          box-shadow:  0px 0 3px -2px #111;
  background-color: #fff;
}
.asset-item:hover { z-index: 2; }
  .asset-item .item-icon {
    float: left; 
  }
  .asset-item .item-title h5 {
    color: #000;
    font-size: 1em;
    font-family: Arial, sans-serif;
    font-weight: normal;
    padding: 0.2em 0 0.2em 0.4em;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden; 
  }
  .asset-item .item-title .asset-cr-date {
    position: relative;
    z-index: 2;
    float: right;
    padding: 0;
    margin: -11px 0 0 0;
    font-size: 0.7em;
    color: #BDC3C7;
    cursor: context-menu;
  }
/* empty span tag for clickable div links */
.asset-item span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  /*background-image: url('empty.gif');*/
}
.asset-item .additional-options {
  visibility: hidden;
  font-size: .8em;
  position: relative;
  display: block;
  float: right;
  margin: -2px 0 0 0;
}
.asset-item:hover .additional-options {
  visibility: visible;
}
.asset-item .additional-options a {
  color: #888;
  margin-left: 4px;
}
.asset-item .additional-options a:hover {
  color: #222;
}

.message-item {
  position: relative;
  padding: 0.9em 0.5em 0.1em;
  border-bottom: 1px solid #ddd;
  margin: 0;
  z-index: 1;
}
.a-current, .message-item:hover {
  /*border-top: 2px solid #fff;*/
  /*border-bottom: 2px solid #fff;*/
  -webkit-box-shadow:  0px 0 3px -2px #111;
     -moz-box-shadow:  0px 0 3px -2px #111;
          box-shadow:  0px 0 3px -2px #111;
  background-color: #fff;
}
.message-item:hover { z-index: 2; }
/* empty span tag for clickable div links */
.message-item .item-icon, .message-item .message-content {
  float: left;
}
.message-item .message-content {
  width: 200px;
}
.message-item .item-content h5 {
  color: #000;
  font-size: 1em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0.25em 0 0.2em 0.4em;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.message-item .item-content p {
  color: #888;
  font-size: 0.8em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0.2em 0 0 0.4em;
  margin: 0;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  height: 2.8em;
  line-height: 1.4em;
}
  .message-item .item-content p a {
    color: #888;
  }
.message-item .item-content .item-date {
  position: relative;
  z-index: 2;
  float: right;
  padding: 0;
  margin: -11px 0 0 0;
  font-size: 0.7em;
  color: #BDC3C7;
  cursor: context-menu;
  height: auto;
}
.message-item span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  /*background-image: url('empty.gif');*/
}

.message-item .additional-options {
  visibility: hidden;
  font-size: .8em;
  position: relative;
  display: block;
  float: right;
  margin: 0px 0 0 0;
}
.message-item:hover .additional-options {
  visibility: visible;
}
.message-item .additional-options a {
  color: #888;
  margin-left: 4px;
}
.message-item .additional-options a:hover {
  color: #222;
}

/*------------------------------------*\
    ATLAS ITEM
\*------------------------------------*/
.assignment-holder .atlas-item {
  padding: 0.4em 0.5em 0.4em 0.4em;
}
.assignment-holder .atlas-item .item-content {
  width: 80%;
}
.assignment-holder .atlas-item .status-icon {
  vertical-align: middle;
  height: 100%;
  font-size: 1.5em;
  float: left;
}
.assignment-holder .atlas-item .item-content p.time-remain {
  color: #aaa;
  margin: 0 0 0 3px;
}
.atlas-item {
  position: relative;
  padding: 0.9em 0.5em 0.1em;
  border-bottom: 1px solid #ddd;
  margin: 0;
  z-index: 1;
}
.btn-submit-assignment {
  background-color: #53b0ff;
  color: #fff;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 3px;
  float: right;
  margin: 0.5em 0 1em 0;
}
.a-current, .atlas-item:hover {
  /*border-top: 2px solid #fff;*/
  /*border-bottom: 2px solid #fff;*/
  -webkit-box-shadow:  0px 0 3px -2px #111;
     -moz-box-shadow:  0px 0 3px -2px #111;
          box-shadow:  0px 0 3px -2px #111;
  background-color: #fff;
}
.atlas-item:hover { z-index: 2; }
/* empty span tag for clickable div links */
.atlas-item .item-icon, .atlas-item .item-content {
  float: left;
}
  .atlas-item .item-icon .icons {
    border: 1px solid #777;
    border-radius: 2px;
    padding: 2px;
    margin-top: 1px;
  }
.atlas-item .item-content {
  float: left;
  width: 93.5%;
}
.atlas-item .item-content h4 {
  color: #000;
  font-size: 1em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0.25em 0 0.2em 0.4em;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.atlas-item .item-content h5 {
  border-bottom: 1px solid #ccc;
  color: #676767;
  font-size: .8em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0.25em 0 0.2em 0.4em;
  margin: 1em 0 .1em 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.atlas-item .item-content p {
  font-size: 0.7em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0.2em 0 0 0.4em;
  margin: 0;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  line-height: 1.4em;
}
  .atlas-item .item-content p a {
    color: #888;
  }
  .atlas-item .item-content p.meta-data {
    color: #999;
    font-size: 0.7em;
    height: 1.4em;
  }
  .atlas-item .item-content p.desc {
    color: #555;
  }
.atlas-item .item-content .item-date {
  position: relative;
  z-index: 2;
  float: right;
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  color: #BDC3C7;
  cursor: context-menu;
  height: auto;
}
.atlas-item span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  /*background-image: url('empty.gif');*/
}










/* Contact item */
.contact-item {
  position: relative;
  padding: 0.9em 0.5em 0.1em;
  border-bottom: 1px solid #ddd;
  margin: 0;
  z-index: 1;
}
.a-current, .contact-item:hover {
  /*border-top: 2px solid #fff;*/
  /*border-bottom: 2px solid #fff;*/
  -webkit-box-shadow:  0px 0 3px -2px #111;
     -moz-box-shadow:  0px 0 3px -2px #111;
          box-shadow:  0px 0 3px -2px #111;
  background-color: #fff;
}
.contact-item:hover { z-index: 2; }
/* empty span tag for clickable div links */
.contact-item .item-icon, .contact-item .contact-content {
  float: left;
}
.contact-item .contact-content {
  width: 200px;
}
.contact-item .item-content h5 {
  color: #000;
  font-size: 1em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0.25em 0 0.2em 0.4em;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.contact-item .item-content p {
  color: #888;
  font-size: 0.8em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0.2em 0 0 0.4em;
  margin: 0;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  height: 1.4em;
  line-height: 1.4em;
}
  .contact-item .item-content p a {
    color: #888;
  }
.contact-item .item-content .item-date {
  position: relative;
  z-index: 2;
  float: right;
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  color: #BDC3C7;
  cursor: context-menu;
  height: auto;
}
.contact-item span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  /*background-image: url('empty.gif');*/
}

@media screen and (max-width: 65.625em) {
  .center {
    left: 0;
    width: 100%;
  }
  .column2move {
    left: 0;
    width: 100%;
  }
  #menu-column {
    width: 194px;
  }
  #content-column-wrapper {
    width: 100%;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
  }
  .js-panel #content-column-wrapper {
    width: 60%;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
  }
  .js-panel #assets-column-wrapper {
    width: 39%;
  }
}

@media screen and (max-width: 44.375em) {
  .js-panel #content-column-wrapper {
    min-width: 430px;
    float: right;
    right: 70%;
  }
  .js-panel #assets-column-wrapper {
    width: 70%;
    left: 30%;
    float: none;
    overflow: visible;
  }
  #top .nav-btn {
    position: relative;
    float: left;
    top: 0.25em;
    left: 0.2em;
    width: 1.25em;
    -webkit-transition: width 500ms ease;
    -moz-transition: width 500ms ease;
    -o-transition: width 500ms ease;
    transition: width 500ms ease;
  }
  .header-container-content {
    display: none;
  }
  .js-nav .column2move {
    left: 190px;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
  }
  #menu-column {
    display: block;
  }
}
@media screen and (max-width: 31.250em) {
  /* Force table to not be like tables anymore */
  table.responsive-table, table.responsive-table thead, table.responsive-table tbody, table.responsive-table th, table.responsive-table td, table.responsive-table tr { 
    display: block;
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  table.responsive-table thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  table.responsive-table tr { border: 1px solid #ccc; }
  
  table.responsive-table td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  table.responsive-table td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  table.responsive-table td:nth-of-type(1):before { content: "First Name"; }
  table.responsive-table td:nth-of-type(2):before { content: "Last Name"; }
  table.responsive-table td:nth-of-type(3):before { content: "Job Title"; }
  table.responsive-table td:nth-of-type(4):before { content: "Favorite Color"; }
  table.responsive-table td:nth-of-type(5):before { content: "Wars of Trek?"; }
  table.responsive-table td:nth-of-type(6):before { content: "Porn Name"; }
  table.responsive-table td:nth-of-type(7):before { content: "Date of Birth"; }
  table.responsive-table td:nth-of-type(8):before { content: "Dream Vacation City"; }
  table.responsive-table td:nth-of-type(9):before { content: "GPA"; }
  table.responsive-table td:nth-of-type(10):before { content: "Arbitrary Data"; }



  #top-assets .assets-btn {
    position: relative;
  }
  .js-nav #column2move {
    /*left: 150px;*/
    -webkit-transition: left 350ms ease;
    -moz-transition: left 350ms ease;
    -o-transition: left 350ms ease;
    transition: left 350ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }



  #content-column-wrapper {
    width: 100%;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
  }

  #assets-column-wrapper {
    width: 0%;
    -webkit-transition: width 350ms ease;
    -moz-transition: width 350ms ease;
    -o-transition: width 350ms ease;
    transition: width 350ms ease;
  }

  .js-asset #assets-column-wrapper {
    width: 84%;
    position: absolute;
    right: 0;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
  }

  .js-asset #content-column-wrapper {
    right: 271px;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
  }

  #content-column {
    width: 100%;
    left: 0px;
    -webkit-transition: width 350ms ease;
    -moz-transition: width 350ms ease;
    -o-transition: width 350ms ease;
    transition: width 350ms ease;
    -webkit-transition: left 350ms ease;
    -moz-transition: left 350ms ease;
    -o-transition: left 350ms ease;
    transition: left 350ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  
  #top .nav-btn {
    position: relative;
    /*left: 6.5em;*/
  }
}
@media screen and (max-width: 24.688em) {
  .asset-menu li.more > a {
    display: inline;
  }
  .asset-menu li.more {
    float: left;
  }
  .asset-menu li.more > ul {
    display: none;
  }
  .asset-menu li.more:hover > ul {
    display: inline;
    position: absolute;
    background-color: #fff;
    margin-top: 0.3em;
    padding-top: 0.2em;
    z-index: 0;
  }
  .asset-menu li.more:hover > ul li {
    float: none;
    margin: 0.2em 0 0.8em 0;
  }
}

/* DEMO 5 */

.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    width: 145px;
    margin: 9px auto 0 0;
    padding: 7px 10px;

    /* Styles */
    background: #fff;
    border-radius: 5px 5px 0 0;
    /*box-shadow: 0 1px 0 rgba(0,0,0,0.2);*/
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;

    /* Styles */
    background: #fff;
    border-radius: 0 0 4px 4px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;

/*    -moz-box-shadow:    0px 3px 8px 1px #555;
    -webkit-box-shadow: 0px 3px 8px 1px #555;
    box-shadow:         0px 3px 8px 1px #555;*/
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */

.wrapper-dropdown-5.active {
    border-radius: 10px 10px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

#data-item {
  cursor: pointer;
}









/* NEW STUFF GOES HERE */
.new-item {
  position: relative;
  padding: 0.9em 0.5em;
  border-bottom: 1px solid #ddd;
  height: 1.5em;
  margin: 0;
  z-index: 1;
}

.new-item:hover {
  background-color: #fff;
  -webkit-box-shadow:  0px 0 3px -2px #111;
  -moz-box-shadow:  0px 0 3px -2px #111;
  box-shadow:  0px 0 3px -2px #111;
  z-index: 2;
}

.new-item .item-icon { float: left; }

.new-item .item-title h5 {
  color: #000;
  font-size: 1em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0.2em 0 0.2em 0.4em;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden; 
}
.new-item .item-title .asset-cr-date {
  position: relative;
  z-index: 2;
  float: right;
  padding: 0;
  margin: -11px 0 0 0;
  font-size: 0.7em;
  color: #BDC3C7;
  /*cursor: context-menu;*/
}

.new-item .additional-options {
  visibility: hidden;
  font-size: .8em;
  position: relative;
  display: block;
  float: right;
  margin: -5px 0 0 0;
}
.new-item:hover .additional-options {
  visibility: visible;
}
.new-item .additional-options a {
  color: #888;
  margin-left: 4px;
}
.new-item .additional-options a:hover {
  color: #222;
}







/* Contact item */
.new-item-contact {
  position: relative;
  padding: 0.9em 0.5em 0.1em;
  border-bottom: 1px solid #ddd;
  margin: 0;
  z-index: 1;
}
.new-item-contact:hover {
  background-color: #fff;
  -webkit-box-shadow:  0px 0 3px -2px #111;
  -moz-box-shadow:  0px 0 3px -2px #111;
  box-shadow:  0px 0 3px -2px #111;
  z-index: 2;
}
/* empty span tag for clickable div links */
.new-item-contact .item-icon, .new-item-contact .contact-content {
  float: left;
}
.new-item-contact .contact-content {
  width: 200px;
}
.new-item-contact .item-content h5 {
  color: #000;
  font-size: 1em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0.25em 0 0.2em 0.4em;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.new-item-contact .item-content p {
  color: #888;
  font-size: 0.8em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0em 0 0 0.4em;
  margin: 0;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  height: 1.4em;
  line-height: 1.4em;
}
  .new-item-contact .item-content p a {
    color: #888;
  }
.new-item-contact .item-content {
  display: block;
  margin: 0 0 10px 0;
}
.new-item-contact .item-content .item-date {
  position: relative;
  z-index: 2;
  float: right;
  padding: 0;
  margin: -11px 0 0 0;
  font-size: 0.7em;
  color: #BDC3C7;
  cursor: context-menu;
  height: auto;
}
.new-item-contact span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  /*background-image: url('empty.gif');*/
}

.new-item-contact .additional-options {
  visibility: hidden;
  font-size: .8em;
  position: relative;
  display: block;
  float: right;
  margin: 0px 0 0 0;
}
.new-item-contact:hover .additional-options {
  visibility: visible;
}
.new-item-contact .additional-options a {
  color: #888;
  margin-left: 4px;
}
.new-item-contact .additional-options a:hover {
  color: #222;
}
